*.pyc
__pycache__/
.ipynb_checkpoints/

venv/
env/
.venv/
.env

data/processed/*
data/raw/*
data/megnet/*
data/*/

outputs/*

outputs/checkpoints/*
outputs/explain/*
outputs/logs/*

!outputs/checkpoints/cgcnn_test_best.pth
!outputs/checkpoints/.gitkeep
!outputs/explain/.gitkeep
!outputs/logs/.gitkeep